@mixin mq($range: min, $val: $default-container-md) {
    @media(#{$range}-width: #{$val}px) {
        @content;
    }
}

// style for IE 10+
@mixin forIE() {
/* IE 10+ */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
       @content;
    }
}

// enable scroll on IOS phone
@mixin scroll_IOS() {
	-webkit-overflow-scrolling: touch;
}
// convert px to em
@mixin em( $val ) {
    font-size: ($val / $base-font-size) +em;
}
@mixin txt( $fs: $base-font-size, $lh: $base-line-height, $fw: $base-font-weight ) {
	@if $default-fs-option == "em" {
		@include em($fs);
	}@else{
		font-size: $fs+px;
	}
    line-height: $lh;
    font-weight: $fw;
}