/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

.box-450 {
  max-width: 450px;
}

.box-20per {
  max-width: 20%;
}

.box-30 {
  max-width: 30px;
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* Large screens ----------- */
.wrp-header .cntr-header.is-typeA, .main-navigation, .main-navigation ul, .dflex-ai {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dflex-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
  25% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  50% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
  75% {
    -moz-transform: translateY(-10%);
         transform: translateY(-10%);
  }
  100% {
    -moz-transform: translateY(0%);
         transform: translateY(0%);
  }
}

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
  25% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  50% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
  75% {
    -o-transform: translateY(-10%);
       transform: translateY(-10%);
  }
  100% {
    -o-transform: translateY(0%);
       transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
  75% {
    -webkit-transform: translateY(-10%);
       -moz-transform: translateY(-10%);
         -o-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  font-weight: normal;
  margin: 0 auto;
  color: #000000;
}

.wrp {
  position: relative;
}

.cntr {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1280px) {
  .cntr {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/** LAYOUTS **/
.gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  /*gaps*/
  /*
	*
	* How to use gap classes :
	*
	*  Ex: <div class="gap gap-2 gap-0-xs">
	*			<div class="md-6 xs-12"></div>
	*			<div class="md-6 xs-12"></div>
	*		</div>
	*
	*/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
}

.gap.gap-0-xs {
  margin-left: 0px;
  margin-right: 0px;
}

.gap.gap-0-xs > [class^="xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-0-xs > [class*=" xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-10-xs {
  margin-left: -10px;
  margin-right: -10px;
}

.gap.gap-10-xs > [class^="xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

.gap.gap-10-xs > [class*=" xs"] {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 569px) {
  .gap.gap-0-sm {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0-sm > [class^="sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0-sm > [class*=" sm"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 769px) {
  .gap.gap-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0 > [class^="md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0 > [class*=" md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10 > [class^="md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10 > [class*=" md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.gap .xs-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 0%;
          flex: 0 0 0%;
  max-width: 0%;
}

.gap .xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.gap .xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 569px) {
  .gap .sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .gap .md-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .gap .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.wrp-header {
  position: relative;
  border-top: 4px solid #991111;
  background-color: #ffffff;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .wrp-header {
    padding: 10px 30px;
  }
}

.wrp-header.is-fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 35px grey;
     -moz-box-shadow: 0px 0px 35px grey;
          box-shadow: 0px 0px 35px grey;
  z-index: 99;
}

.wrp-header .cntr-header {
  max-width: 1280px;
  width: 100%;
}

@media (max-width: 1280px) {
  .wrp-header .cntr-header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.wrp-header .cntr-header.is-typeA {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrp-header .cntr-header.is-typeA .main-header {
  display: block;
  max-width: 180px;
  width: 100%;
}

.main-navigation {
  position: relative;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
     -moz-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-width: 500px;
  width: 100%;
}

@media (max-width: 768px) {
  .main-navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 4px;
    left: -100%;
    right: 0;
    bottom: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    background-color: #ffffff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.main-navigation ul {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media (max-width: 768px) {
  .main-navigation ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.main-navigation ul li {
  text-align: center;
  padding: 10px 30px;
}

@media (max-width: 768px) {
  .main-navigation ul li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 30px;
  }
}

.main-navigation ul li:last-child {
  padding-right: 0;
}

@media (max-width: 768px) {
  .main-navigation ul li:last-child {
    padding-right: 30px;
  }
}

.main-navigation ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .main-navigation ul li a {
    font-size: 2em;
  }
}

#toggle-nav {
  position: fixed;
  top: 40px;
  right: 30px;
  display: inline-block;
  width: 35px;
  height: 25px;
  z-index: 1;
}

@media (min-width: 769px) {
  #toggle-nav {
    display: none;
  }
}

#toggle-nav span {
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  background-color: #156e80;
  -webkit-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
  transition: ease-in .2s;
}

#toggle-nav span:first-child {
  top: 0;
}

#toggle-nav span:nth-child(2) {
  top: 11px;
}

#toggle-nav span:last-child {
  top: unset;
  bottom: 0;
}

#toggle-nav.toggle-open span {
  -webkit-transition: ease-in .3s;
  -o-transition: ease-in .3s;
  -moz-transition: ease-in .3s;
  transition: ease-in .3s;
}

#toggle-nav.toggle-open span:first-child {
  top: 11px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#toggle-nav.toggle-open span:nth-child(2) {
  top: 11px;
  width: 0;
}

#toggle-nav.toggle-open span:last-child {
  top: unset;
  bottom: 11px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

/** MODULES **/
.btn {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.btn-more {
  display: inline-block;
  padding: 5px 20px;
  background-color: #156e80;
  border: 1px solid #156e80;
  color: #ffffff;
  -webkit-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
  transition: ease-in .2s;
}

.btn-more:hover {
  background-color: #ffffff;
  border: 1px solid #156e80;
  color: #000000;
  -webkit-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  -moz-transition: ease-in .2s;
  transition: ease-in .2s;
}

.btn-more.arrow-right {
  padding-right: 50px;
}

.btn-more.arrow-right:before {
  content: '';
  position: absolute;
  top: 38%;
  right: 20px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-more.arrow-right:hover:before {
  border-top: 1px solid #156e80;
  border-right: 1px solid #156e80;
}

.form-cntr .input-grp {
  margin-bottom: 30px;
}

.form-cntr .input-grp .select-area {
  position: relative;
}

.form-cntr .input-grp .select-area:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: #156e80;
  z-index: 1;
  pointer-events: none;
}

.form-cntr .input-grp .select-area:after {
  content: '';
  position: absolute;
  top: 36%;
  right: 20px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 3;
}

.form-cntr .input-grp .select-area select {
  width: 100%;
  display: block;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  color: dimgray;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.form-cntr .input-grp .select-area select:-ms-expand {
  display: none;
}

.form-cntr .input-grp .input-area .input {
  display: block;
  width: 100%;
  padding: 10px 20px;
}

.form-cntr .input-grp .checkbox-area label {
  position: relative;
  cursor: pointer;
}

.form-cntr .input-grp .checkbox-area label:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid #156e80;
}

.form-cntr .input-grp .checkbox-area label:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 5px;
  height: 7px;
  width: 11px;
  border-left: 2px solid #156e80;
  border-bottom: 2px solid #156e80;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-cntr .input-grp .checkbox-area input[type="checkbox"] {
  display: none;
  border: 1px solid #000000;
  opacity: 0;
}

.form-cntr .input-grp .checkbox-area input[type="checkbox"] + label::after {
  content: none;
}

.form-cntr .input-grp .checkbox-area input[type="checkbox"]:checked + label::after {
  content: "";
}

.form-cntr .input-grp .radiobox-area label {
  position: relative;
  cursor: pointer;
}

.form-cntr .input-grp .radiobox-area label:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid #156e80;
}

.form-cntr .input-grp .radiobox-area label:before {
  -webkit-border-radius: 20em;
     -moz-border-radius: 20em;
          border-radius: 20em;
}

.form-cntr .input-grp .radiobox-area label:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 6px;
  height: 7px;
  width: 0;
  border-left: 2px solid #156e80;
  border-bottom: 2px solid #156e80;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-cntr .input-grp .radiobox-area label:after {
  padding: 3px;
  background-color: #156e80;
  -webkit-border-radius: 20em;
     -moz-border-radius: 20em;
          border-radius: 20em;
}

.form-cntr .input-grp .radiobox-area input[type="radio"] {
  display: none;
  border: 1px solid #000000;
  opacity: 0;
}

.form-cntr .input-grp .radiobox-area input[type="radio"] + label::after {
  content: none;
}

.form-cntr .input-grp .radiobox-area input[type="radio"]:checked + label::after {
  content: "";
}

.dblock {
  display: block;
}

.diblock {
  display: inline-block;
}

.dflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.diflex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dnone {
  display: none;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ai {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mlr-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.global-mt {
  margin-top: 100px;
}

/** MARGIN TOP **/
/** SP **/
.mt-0-xs {
  margin-top: 0px;
}

/** PC **/
@media (min-width: 769px) {
  .mt-0 {
    margin-top: 0px !important;
  }
}

/** END MARGIN TOP **/
/** MARGIN BOTTOM **/
/** SP **/
.mb-0-xs {
  margin-bottom: 0px;
}

.mb-30-xs {
  margin-bottom: 30px;
}

/** PC **/
@media (min-width: 769px) {
  .mb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
/** PADDING TOP **/
/** SP **/
.pt-0-xs {
  padding-top: 0px;
}

/** PC **/
@media (min-width: 769px) {
  .pt-0 {
    padding-top: 0px !important;
  }
}

/** END PADDING TOP **/
/** PADDING BOTTOM **/
/** SP **/
.pb-0-xs {
  margin-bottom: 0px;
}

/** PC **/
@media (min-width: 769px) {
  .pb-0 {
    margin-bottom: 0px !important;
  }
}

/** END MARGIN BOTTOM **/
.fs-18-xs {
  font-size: 18px;
}

@media (min-width: 769px) {
  .fs-20 {
    font-size: 20px !important;
  }
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.is-wide {
  width: 100%;
}

.flex-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ov-hidden {
  overflow: hidden;
}

.robName {
  font-size: 5em;
}

.letter {
  width: 100px;
  height: 100px;
  font-size: 5em;
  text-align: center;
  background-color: #403f3f;
  color: white;
  font-weight: bold;
  display: inline-block;
  border: 2px solid white;
}

.letter.success {
  background-color: green;
}

.letter.error {
  background-color: red;
}

.lettersBtn {
  width: 50px;
  height: 50px;
  font-size: 2.5em;
}

.picTitle {
  color: #fff;
  font-size: 4em;
}

.boxAns {
  margin-bottom: 50px;
}

.hangman {
  padding-top: 50px;
}

.hangman .hangmanTitle {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.hangmanWrapper {
  position: relative;
  width: 400px;
  height: 500px;
  border-top: 10px solid #000;
  border-right: 10px solid #000;
  margin: auto;
}

.hangmanWrapper::before {
  content: "";
  background-color: #000;
  position: absolute;
  width: 10px;
  height: 30px;
  top: 0;
  left: 0;
}

.hangmanWrapper::after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 100px;
  height: 10px;
  bottom: 0;
  right: -55px;
}

.hangmanWrapper .hangmanHead {
  background-color: #fff;
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  border: 10px solid #000;
  left: -45px;
  top: 10px;
  z-index: 5;
  opacity: 0;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hangmanWrapper .hangmanBody {
  position: absolute;
  width: 10px;
  height: 250px;
  background-color: #000;
  z-index: 4;
  top: 50px;
  opacity: 0;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hangmanWrapper .hangmanLeftHand {
  position: absolute;
  width: 100px;
  height: 10px;
  left: -86px;
  top: 150px;
  background-color: #000;
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
          transform: rotate(30deg);
  opacity: 0;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hangmanWrapper .hangmanRightHand {
  position: absolute;
  width: 100px;
  height: 10px;
  left: 0;
  top: 150px;
  background-color: #000;
  -webkit-transform: rotate(-30deg);
     -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
       -o-transform: rotate(-30deg);
          transform: rotate(-30deg);
  opacity: 0;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hangmanWrapper .hangmanLeftFoot {
  position: absolute;
  width: 100px;
  height: 10px;
  left: -86px;
  top: 300px;
  background-color: #000;
  -webkit-transform: rotate(-30deg);
     -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
       -o-transform: rotate(-30deg);
          transform: rotate(-30deg);
  opacity: 0;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.hangmanWrapper .hangmanRightFoot {
  position: absolute;
  width: 100px;
  height: 10px;
  left: 0;
  top: 300px;
  background-color: #000;
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
          transform: rotate(30deg);
  opacity: 0;
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.alphabetBtn {
  display: inline-block;
}

.alphabetBtn .letBtn {
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  margin-right: 10px;
  margin-bottom: 10px;
}

.questionnaire {
  border: 2px solid blue;
  padding: 20px;
}

.questionnaire .hangmanQuestions {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
  display: inline-block;
}

.hangmanAns {
  color: green;
  display: inline-block;
  border: 2px solid #000;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.letAns {
  border: 2px solid #000;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
}
