.main-navigation {
	@extend %flex-center;
	position: relative;
	justify-content: flex-end;
	flex: auto;
	max-width: 500px;
	width: 100%;
	@include mq(max, $mq_md - 1) {
		display: flex;
		position: fixed;
		top: 4px;
		left: -100%;
		right: 0;
		bottom: 0;
		flex: 0 0 100%;
		max-width: 100%;
		flex-wrap: wrap;
		background-color: #ffffff;
		overflow-y: scroll;
		@include scroll_IOS();
	}
	ul {
		@extend %flex-center;
		justify-content: flex-end;
		width: 100%;
		@include mq(max, $mq_md - 1) {
			flex-wrap: wrap;
		}
		li {
			text-align: center;
			padding: 10px 30px;
			@include mq(max, $mq_md - 1) {
				flex: 0 0 100%;
				max-width: 100%;
				padding: 20px 30px;
			}
			&:last-child {
				padding-right: 0;
				@include mq(max, $mq_md - 1) {
					padding-right: 30px;
				}
			}
			a {
				text-decoration: none;
				color: #000000;
				text-transform: capitalize;
				@include mq(max, $mq_md - 1) {
					font-size: 2em;
				}
			}
		}
	}
}

#toggle-nav {
	position: fixed;
	top: 40px;
	right: 30px;
	display: inline-block;
	width: 35px;
	height: 25px;
	z-index: 1;
	@include mq(min, $mq_md) {
		display: none;
	}
	span {
		position: absolute;
		display: block;
		width: 35px;
		height: 3px;
		background-color: $theme-color;
		transition: ease-in .2s;
		&:first-child {
			top: 0;
		}
		&:nth-child(2) {
			top: 11px;
		}
		&:last-child {
			top: unset;
			bottom: 0;
		}
	}

	&.toggle-open {
		
		span {
			transition: ease-in .3s;
			// transition-delay: .1s;
			&:first-child {
				top: 11px;
				transform: rotate(-45deg);
			}
			&:nth-child(2) {
				top: 11px;
				width: 0;
			}
			&:last-child {
				top: unset;
				bottom: 11px;
				transform: rotate(45deg);
			}
		}
	}
}