.btn {
	position: relative;
	text-decoration: none;
	color: #000000;

	&-more {
		display: inline-block;
		padding: 5px 20px;
		background-color: $theme-color;
		border: 1px solid $theme-color;
		color: #ffffff;
		transition: ease-in .2s;
		&:hover {
			background-color: #ffffff;
			border: 1px solid $theme-color;
			color: #000000;
			transition: ease-in .2s;
		}
		&.arrow-right {
			padding-right: 50px;
			&:before {
				content: '';
				position: absolute;
				top: 38%;
				right: 20px;
				width: 8px;
				height: 8px;
				border-top: 1px solid #ffffff;
				border-right: 1px solid #ffffff;
				transform: rotate(45deg);
			}
			&:hover {
				&:before {
					border-top: 1px solid $theme-color;
					border-right: 1px solid $theme-color;
				}
			}
		}
	}
}

