.hangman{
    padding-top: 50px;
    .hangmanTitle{
        font-size: 50px;
        text-align: center;
        margin-bottom: 50px;
    }
}
.hangmanWrapper{
    position: relative;
    width: 400px;
    height: 500px;
    border-top: 10px solid #000;
    border-right: 10px solid #000;
    margin: auto;
    &::before{
        content: "";
        background-color: #000;
        position: absolute;
        width: 10px;
        height: 30px;
        top: 0;
        left: 0;
    }
    &::after{
        content: "";
        background-color: #000;
        position: absolute;
        width: 100px;
        height: 10px;
        bottom: 0;
        right: -55px;
    }
    .hangmanHead{
        background-color: #fff;
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 10px solid #000;
        left: -45px;
        top: 10px;
        z-index: 5;
        opacity: 0;
        transition: .4s ease-in-out;
    }
    .hangmanBody{
        position: absolute;
        width: 10px;
        height: 250px;
        background-color: #000;
        z-index: 4;
        top: 50px;
        opacity: 0;
        transition: .4s ease-in-out;
    }
    .hangmanLeftHand{
        position: absolute;
        width: 100px;
        height: 10px;
        left: -86px;
        top: 150px;
        background-color: #000;
        transform: rotate(30deg);
        opacity: 0;
        transition: .4s ease-in-out;
    }
    .hangmanRightHand{
        position: absolute;
        width: 100px;
        height: 10px;
        left: 0;
        top: 150px;
        background-color: #000;
        transform: rotate(-30deg);
        opacity: 0;
        transition: .4s ease-in-out;
    }
    .hangmanLeftFoot{
        position: absolute;
        width: 100px;
        height: 10px;
        left: -86px;
        top: 300px;
        background-color: #000;
        transform: rotate(-30deg);
        opacity: 0;
        transition: .4s ease-in-out;
    }
    .hangmanRightFoot{
        position: absolute;
        width: 100px;
        height: 10px;
        left: 0;
        top: 300px;
        background-color: #000;
        transform: rotate(30deg);
        opacity: 0;
        transition: .4s ease-in-out;
    }
}
.alphabetBtn{
    display: inline-block;
    .letBtn{
        cursor: pointer;
        width: 50px;
        height: 50px;
        font-size: 1.5em;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
.questionnaire{
    border: 2px solid blue;
    padding: 20px;
    .hangmanQuestions{
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 30px;;
        display: inline-block;
    }
}
.hangmanAns{
    color: green;
    display: inline-block;
    border: 2px solid #000;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.letAns{
    border: 2px solid #000;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}