
.letter{
	width: 100px;
	height: 100px;
	font-size: 5em;
	text-align: center;
	background-color: #403f3f;
	color: white;
	font-weight: bold;
	display: inline-block;
	border: 2px solid white;
}
.letter.success {
	background-color: green;
}
.letter.error {
	background-color: red;
}
.lettersBtn{
	width: 50px;
	height: 50px;
	font-size: 2.5em;
}
.picTitle{
	color: #fff;
	font-size: 4em;
}
.boxAns{
	margin-bottom: 50px;
}