.wrp-header {
	position: relative;
	border-top: 4px solid $secondary-color;
	background-color: #ffffff;
	padding: 10px 0;
	@include mq(max, $mq_md - 1) {
		padding: 10px $default-pl+px;
	}
	&.is-fixed {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		box-shadow: 0px 0px 35px grey;
		z-index: 99;
	}
	.cntr-header {
		max-width: $default-container+px;
		width: 100%;
		@include mq(max, $default-container) {
			padding-left: 30px;
			padding-right: 30px;
		}
		&.is-typeA {
			@extend %flex-center;
			justify-content: space-between;
			.main-header {
				display: block;
				max-width: 180px;
				width: 100%;
			}
		}
	}
}