
/** MARGIN TOP **/

/** SP **/
@each $current-mt in $margin-top {
	$i: index($margin-top, $current-mt);
	.mt-#{nth($margin-top, $i)}-xs { 
		margin-top: $current-mt + px;
	}
}

/** PC **/
@include mq(min, $default-container-md) {
	@each $current-mt in $margin-top-md {
		$i: index($margin-top-md, $current-mt);
		.mt-#{nth($margin-top-md, $i)} { 
			margin-top: $current-mt + px!important;
		}
	}
}
/** END MARGIN TOP **/


/** MARGIN BOTTOM **/

/** SP **/
@each $current-mb in $margin-bottom {
	$i: index($margin-bottom, $current-mb);
	.mb-#{nth($margin-bottom, $i)}-xs { 
		margin-bottom: $current-mb + px;
	}
}

/** PC **/
@include mq(min, $default-container-md) {
	@each $current-mb in $margin-bottom {
		$i: index($margin-bottom, $current-mb);
		.mb-#{nth($margin-bottom, $i)} { 
			margin-bottom: $current-mb + px!important;
		}
	}
}
/** END MARGIN BOTTOM **/



/** PADDING TOP **/

/** SP **/
@each $current-pt in $padding-top {
	$i: index($padding-top, $current-pt);
	.pt-#{nth($padding-top, $i)}-xs { 
		padding-top: $current-pt + px;
	}
}

/** PC **/
@include mq(min, $default-container-md) {
	@each $current-pt in $padding-top {
		$i: index($padding-top, $current-pt);
		.pt-#{nth($padding-top, $i)} { 
			padding-top: $current-pt + px!important;
		}
	}
}
/** END PADDING TOP **/


/** PADDING BOTTOM **/

/** SP **/
@each $current-pb in $padding-bottom {
	$i: index($padding-bottom, $current-pb);
	.pb-#{nth($padding-bottom, $i)}-xs { 
		margin-bottom: $current-pb + px;
	}
}

/** PC **/
@include mq(min, $default-container-md) {
	@each $current-pb in $padding-bottom {
		$i: index($padding-bottom, $current-pb);
		.pb-#{nth($padding-bottom, $i)} { 
			margin-bottom: $current-pb + px!important;
		}
	}
}
/** END MARGIN BOTTOM **/