#fil-cal {
	overflow: hidden;
	position: relative;
	background-color: #ffffff;
	table {
		position: relative;
		width: 100%;
		border: 1px solid;
		thead {
			display: block;
			border-bottom: 1px solid #1e1e1e;
			#option-area {
				th {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0;
					height: 80px;
					@media(max-width: 768px) {
						height: 40px;
					}
				}
			}

			.option_btn, #select_date {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				text-decoration: none;
				color: #1e1e1e;
				font-size: 2em;
				font-weight: 800;
				transition: ease-in .3s;
				@media(max-width: 768px) {
					font-size: 1em;
				}
				&:hover {
					background-color: #1e1e1e;
					color: #ffffff;
					transition: ease-in .3s;
				}
			}
			#select_date {
				@media(max-width: 780px) {
					pointer-events: none;
				} 
			}
			#year_lists {
				position: relative;
				display: none;
				align-items: center;
				overflow: hidden;
				width: 100%;
				height: 50px;
				&.active {
					position: absolute;
					z-index: 1;
					display: flex;
					overflow-x: auto;
				}
				ul {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0 30px;
					li {
						a {
							font-size: 1.2em;
							color: #1e1e1e;
							text-decoration: none;
							padding: 20px 20px;
						}
					}
				}
			}
			
		}
		tbody {
			display: block;
			tr {
				border-top: 1px solid#1e1e1e;
				&:first-child {
					border-top: 0;
				}
				td {
					border-right: 1px solid #1e1e1e;
					background-color: #ffffff;
					padding-top: 0;
					padding-bottom: 0;
					font-size: 1em;
					&:last-child {
						border-right: 0;
					}
					.hidden_infos {
						display: none;
					}
					.day_count {
						&.is-weekend {
							background-color: #99260c;
							&.is-saturday {
								~ .c-pop {
									left: 2%!important;
								}
							}
							
						}
					}
					&[data-day] {
						background-color: #dedede;
					}
					&[data-date] {
						background-color: #ffffff;
					}
					&.c-post {
						position: relative;
						cursor: pointer;
						background-color: #1e1e1e!important;
						color:#ffffff;
						@media(max-width: 768px) {
							background-color: transparent;
							&:before {
								content: '';
								position: absolute;
								width: 10px;
								height: 10px;
								top: 55%;
								left: 46%;
								background-color: #1e1e1e;
								@media(max-width: 414px) {
									left: 42%;
								}
							}
						}
						.post-title {
							display: block;
							text-align: left;
							padding: 5px 10px;
							font-weight: 400;
							font-size: 12px;
							@media(max-width: 768px) {
								display: none;
							}
						}
						.c-pop {
							position: absolute;
							left: -70%;
							top: -70%;
							min-width: 300px;
							min-height: 100px;
							@media(max-width: 568px) {
								position: fixed;
								top: 28%;
								left: 20%;
							}
							@media(max-width: 414px) {
								position: fixed;
								left: 10px;
							}
							.c_pop-body {
								overflow-y: auto;
								max-height: 250px;
								#c_pop-close {
									top: -10px;
									right: -10px;
								}
							}
						}
					}
				}
			}
		}
		tr {
			display: flex;
			justify-content: space-between;
			text-align: center;
			th {
				display: block;
				width: 100%;
				flex-grow: 1;
				flex-basis: 0;
				text-align: center;
				border-right: 1px solid #1e1e1e;
				font-size: 14px;
				&:last-child {
					border-right: 0;
				}
			}
		}
		td {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
    		justify-content: center;
			min-height: 100px;
			flex: 1;
			font-size: 20px;
			font-weight: 600;
			text-align: center;
			@media(max-width: 414px) {
				min-height: 55px;
			}
			span {
				display: block;
				flex: 0 0 100%;
				max-width: 100%;
				&.day_count {
					color: #ffffff;
					font-size: 12px;
					padding: 2px 5px;
					background-color: black;
				}
			}
		}
	}
	.active {
		background-color: lightgray!important;
		.day_count {
			color: #1e1e1e!important;
			background-color: #ffffff;	
		}
	}
}

.c-pop {
	display: block;
	position: relative;
	border: 1px solid #1e1e1e;
	background-color: #ffffff;
	z-index: 1;
	color: #1e1e1e;
	font-size: 1em;
	.c_pop-tit {
		font-size: 14px;
		background-color: #1e1e1e;
		color: #ffffff;
		padding: 5px 10px;
		margin-top: 0;
	}
	.c_pop-body {
		.c_pop-infos {
			padding: 10px;
			text-align: left;
			font-size: 12px;
			color: #1e1e1e;
			margin-bottom: 10px;
			.to_post {
				display: block;
				margin-top: 10px;
				background-color: #1e1e1e;
				border: 1px solid #ffffff;
				color: #ffffff;
				text-align: center;
				font-size: 12px;
				padding: 5px;
				cursor: pointer;
				pointer-events: all;
				text-decoration: none;
				transition: ease-in .3s;
				&:hover {
					background-color: #ffffff;
					border: 1px solid #1e1e1e;
					color: #1e1e1e;
					transition: ease-in .3s;
				}
			}
		}
		#c_pop-close {
			position: absolute;
			cursor: pointer;
			pointer-events: all;
			display: block;
			border: 1px solid #1e1e1e;
			width: 20px;
			height: 20px;
			border-radius: 20em;
			top: -10px;
			right: 0;
			background-color: #ffffff;
			opacity: .5;
			transition: ease-in .2s;
			&:hover {
				opacity: 1;
				transition: ease-in .2s;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				left: 8.5px;
				top: -1px;
				width: 2px;
				height: 20px;
				background-color: red;
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
		}
	}
}