@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  font-weight: normal;
  margin: 0 auto !important;
  color: #080808;
}

.wrp {
  position: relative;
}

.cntr {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1180px) {
  .cntr {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.ov-hidden {
  overflow: hidden;
}

.is-wide {
  width: 100%;
  height: 100%;
}

.twhite {
  color: #ffffff !important;
}

.bg-gray {
  background-color: #f1f1f1;
}

.v-pc {
  display: none;
}

@media (min-width: 751px) {
  .v-pc {
    display: block;
  }
}

.v-sp {
  display: block;
}

@media (min-width: 751px) {
  .v-sp {
    display: none;
  }
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 750px) {
  .plr-0-xs {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/** MODULES **/
/** MARGIN TOP **/
/** SP **/
.mt-0-xs {
  margin-top: 0px;
}

.mt-10-xs {
  margin-top: 10px;
}

/** PC **/
@media (min-width: 751px) {
  .mt-0 {
    margin-top: 0px !important;
  }
  .mt-10 {
    margin-top: 10px !important;
  }
}

/** END MARGIN TOP **/
/** MARGIN BOTTOM **/
/** SP **/
.mb-0-xs {
  margin-bottom: 0px;
}

.mb-30-xs {
  margin-bottom: 30px;
}

.mb-50-xs {
  margin-bottom: 50px;
}

.mb-100-xs {
  margin-bottom: 100px;
}

/** PC **/
@media (min-width: 751px) {
  .mb-0 {
    margin-bottom: 0px !important;
  }
  .mb-30 {
    margin-bottom: 30px !important;
  }
  .mb-50 {
    margin-bottom: 50px !important;
  }
  .mb-100 {
    margin-bottom: 100px !important;
  }
}

/** END MARGIN BOTTOM **/
/** PADDING TOP **/
/** SP **/
.pt-0-xs {
  padding-top: 0px;
}

.pt-10-xs {
  padding-top: 10px;
}

/** PC **/
@media (min-width: 751px) {
  .pt-0 {
    padding-top: 0px !important;
  }
  .pt-10 {
    padding-top: 10px !important;
  }
}

/** END PADDING TOP **/
/** PADDING BOTTOM **/
/** SP **/
.pb-0-xs {
  margin-bottom: 0px;
}

.pb-10-xs {
  margin-bottom: 10px;
}

/** PC **/
@media (min-width: 751px) {
  .pb-0 {
    margin-bottom: 0px !important;
  }
  .pb-10 {
    margin-bottom: 10px !important;
  }
}

/** END MARGIN BOTTOM **/
.fs-16-xs {
  font-size: 16px;
}

@media (min-width: 751px) {
  .fs-16 {
    font-size: 16px !important;
  }
}

.fw-500 {
  font-weight: 500px;
}

.fw-600 {
  font-weight: 600px;
}

.fw-800 {
  font-weight: 800px;
}

.fw-900 {
  font-weight: 900px;
}

/** LAYOUTS **/
.gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  /*gaps*/
  /*
	*
	* How to use gap classes :
	*
	*  Ex: <div class="gap gap-2 gap-0-xs">
	*			<div class="md-6 xs-12"></div>
	*			<div class="md-6 xs-12"></div>
	*		</div>
	*
	*/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
  /********/
  /* EXTRA SMALL DEVICES */
  /********/
  /********/
  /* MEDIUM DEVICES */
  /********/
}

.gap.gap-0-xs {
  margin-left: 0px;
  margin-right: 0px;
}

.gap.gap-0-xs > [class^="xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-0-xs > [class*=" xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-15-xs {
  margin-left: -15px;
  margin-right: -15px;
}

.gap.gap-15-xs > [class^="xs"] {
  padding-left: 15px;
  padding-right: 15px;
}

.gap.gap-15-xs > [class*=" xs"] {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 751px) {
  .gap.gap-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0 > [class^="md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0 > [class*=" md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10 > [class^="md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10 > [class*=" md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-15 {
    margin-left: -15px;
    margin-right: -15px;
  }
  .gap.gap-15 > [class^="md"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gap.gap-15 > [class*=" md"] {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gap.gap-30 {
    margin-left: -30px;
    margin-right: -30px;
  }
  .gap.gap-30 > [class^="md"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-30 > [class*=" md"] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .gap.gap-35 {
    margin-left: -35px;
    margin-right: -35px;
  }
  .gap.gap-35 > [class^="md"] {
    padding-left: 35px;
    padding-right: 35px;
  }
  .gap.gap-35 > [class*=" md"] {
    padding-left: 35px;
    padding-right: 35px;
  }
  .gap.gap-40 {
    margin-left: -40px;
    margin-right: -40px;
  }
  .gap.gap-40 > [class^="md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
  .gap.gap-40 > [class*=" md"] {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.gap .xs-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 0%;
          flex: 0 0 0%;
  max-width: 0%;
}

.gap .xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.gap .xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 751px) {
  .gap .md-0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 0%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 0%;
            flex: 0 0 0%;
    max-width: 0%;
  }
  .gap .md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .gap .md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .gap .md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .gap .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .gap .md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .gap .md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .gap .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left !important;
}

.ai-c {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
